* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

main {
  height: 50%;
}

.menu {
  background-color: cornsilk;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
}

.menu > div {
  border: 2px solid brown;
  background-color: burlywood;
  color: cornsilk;
  width: 150px;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
}

.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: white;
  flex: 1;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;
}